.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #209cee;
  padding: 30px;
  height: 100vh;
  font-family: 'Roboto';
  text-align: center;
}

.app h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 5rem;
}

#search {
  margin-left: 60rem;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-list h2 {
  font-size: 30px;
  color: #209cee;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 8px 10px;
  font-size: 20px;
  font-family: 'Roboto';
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 15px;
  transition: all .3s ease-in-out;
}

.todo button svg {
  fill: #808080;
}

button:hover {
  transform: scale(1.4);
}

button svg:hover {
  fill:black;
}

.input {
  width: 90%;
  outline: none;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
}
